@import '../../global/variables.scss';
@keyframes flowTop {
    from {transform: translate(0,-200%);}
    to {transform: translate(-50%,0);}
}
@keyframes flowLeft {
    from {transform: translate(-200%,0);}
    to {transform: translate(0,0);}
}

.form-create{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 4%;
    padding-right: 4%;
    
    .input_search_value{
        .unable{
            opacity: .3;
        }
        .content{
            cursor: pointer;
            width: 100%;
            padding: 4%;
            transition: all .7s;
            box-shadow: 0px 10px 28px -4px rgba(0,0,0,0.35);
            .principal{
                font-size: 1.2em;
            }
            .secondary{
                opacity: .6;
            }
        }
    }

    .popop-error{
        transform: translate(-50%,0);
        animation: flowTop .7s linear .0002s;
        box-shadow: 0px 22px 80px 1px rgba(0,0,0,0.75);

        width: 90vw;
        position: fixed;
        left: 50%;
        top: 2%;

        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        z-index: 200;
        padding: 6%;
        min-height: 20vh;
        h3{
            font-size: 1.3em;
        }
        
        div{
            cursor: pointer;
            right: 2%;
            top: 6%;
            font-size: 2em;
            position: absolute;
        }
    }

    div{
        .hiped{
            cursor: pointer;
            margin-top: 5%;
            .hipedBall{
                position: absolute;
                transition: all .7s;
            }
            b{
                margin-left: 120%;
            }
        }
        margin-bottom: 4%;
        h2{
            margin: 0;
            margin-bottom: 4%;
            font-size: 1.2em;
            text-align: center;
        }
        input{
            transition: all .7s;
            outline: none;
            margin:5% 0 2% 0; 
            width: 100%;
            padding: 2%;
            border: none;
            background-color: transparent;
            
            &::placeholder{
                opacity: 1;
            }
        }
        b{
            text-align: center;
            font-size: .9em;
            margin-bottom: -4%;
        }
        .error-logger{
            p{
                text-align: end;
                font-size: .9em;
                margin-bottom: -4%;
            }
        }
        button{
            transition: all .7s;
            margin-top: 4%;
            padding: 4%;
            border-radius: 10px;
            outline: none;
            border: none;
            background-color: transparent;
            margin-left: 50%;
            transform: translate(-50%,0);
        }
           
    }
}

.form-create-dark{
    background-color: $dark-blackColor;
    .input_search_value{
        .content{
            color: $dark-whiteColor;
            background-color: $dark-extraBlackColor;
            border: .01px solid transparentize($color: $dark-blueColor, $amount: .4);
            &:hover{
                background-color: transparentize($color: $dark-blueColor, $amount: .4);
            }
            p{
                span{
                    color:$dark-blueColor;
                }
            }
        }
        .selected{
            border: .01px solid $dark-successColor;
            background-color: transparentize($color: $dark-blueColor, $amount: .4);
        }
    }
    .popop-error{
        background-color: $dark-whiteColor;
        border-left: 2vw solid $dark-contrastColor;
    }
    div{
        .hiped{
            background-color: $dark-blueColor;
            .hipedBall{
                background-color: $dark-blackColor;
            }
            b{
                color: transparentize($color: $dark-whiteColor, $amount: .4);
            }
        }
        h2{
            color: transparentize($color: $dark-blueColor, $amount: .4);
        }
        input{
            color: $dark-whiteColor;
            border-bottom: 1px solid transparentize($color: $dark-blueColor, $amount: .4);
            &::placeholder{
                text-transform: uppercase;
                color: transparentize($color: $dark-whiteColor, $amount: .4);
            }
        }
        .error{
            border: 1px solid $dark-contrastColor;
        }
        button{
            border: 1px solid transparentize($color: $dark-blueColor, $amount: .4);
            color: transparentize($color: $dark-blueColor, $amount: .4);
            &:hover{
                cursor: pointer;
                background-color: transparentize($color: $dark-blueColor, $amount: .4);
                color: $dark-blackColor;
            }
        }
        b{
            color: $dark-contrastColor;
        }
        .error-logger{
            div{
                a{
                    color: $dark-blueColor;
                    font-weight: bold;
                }
            }
            p{
                color: $dark-contrastColor;
            }
        }
        
        span{
            text-transform: uppercase;
            color: transparentize($color: $dark-whiteColor, $amount: .4);
        }
    }
}
.form-create-light{
    background-color: $light-whiteColor;
    .input_search_value{
        .content{
            background-color: $light-whiteColor;
            &:hover{
                background-color: transparentize($color: $light-blueColor, $amount: .4);
            }
            p{
                span{
                    color:$light-blueColor;
                }
            }
        }
        .selected{
            border: .01px solid $light-successColor;
            background-color: transparentize($color: $light-blueColor, $amount: .4);
        }
    }
    .popop-error{
        background-color: $light-whiteColor;
        border-left: 2vw solid $light-contrastColor;
    }
    div{
        .hiped{
            background-color: $light-blueColor;
            .hipedBall{
                background-color: $light-whiteColor;
            }
            b{
                color:$light-blueColor;
            }
        }
        h2{
            color: $light-blueColor;
        }
        input{
            color: $light-blueColor;
            border-bottom: 1px solid $light-blueColor;
            &::placeholder{
                text-transform: uppercase;
                color: transparentize($color: $light-blueColor, $amount: 0.2);
            }
        }
        .error{
            border: 1px solid $light-contrastColor;
        }
        button{
            border: 1px solid $light-blueColor;
            color: $light-blueColor;
            &:hover{
                cursor: pointer;
                background-color: $light-blueColor;
                color: $light-whiteColor;
            }
        }
        b{
            color: $light-contrastColor;
        }
        .error-logger{
            div{
                a{
                    color: $light-blueColor;
                    font-weight: bold;
                }
            }
            p{
                color: $light-contrastColor;
            }
        }
        span{
            text-transform: uppercase;
            color: transparentize($color: $light-blueColor, $amount: 0.2);
        }
    }
}



@media only screen and (min-width: 900px) {
    .form-create{
        padding-left: 1%;
        padding-right: 1%;
        .popop-error{
            transform: translate(0,0);
            animation: flowLeft .7s linear .001s;
            box-shadow: 0px 22px 80px 1px rgba(0,0,0,0.75);
    
            width: 60vw;
            position: fixed;
            left: 2%;
            top: 2%;
    
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            z-index: 200;
            padding-top: 2%;
            min-height: 25vh;
            div{
                right: -40%;
                top: 5%;
                cursor: pointer;
                font-size: 2em;
                position: absolute;
            }
        }
        div{
            
            margin-bottom: 2%;
            width: 50vw;
            input{
                padding: 1%;
            }
            button{
                padding: 2%;
            }   
        }
    }
}