@import '../../global/variables.scss';

.back{
    position: fixed;
    top: 1vw;
    left: 1vw;
    z-index: 100;
    padding: 15px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .7s;
    cursor: pointer;
    font-size: 2em;
}

.back-dark{
    background-color: $dark-blackColor;
        color: $dark-whiteColor;
    &:hover{
        background-color: $dark-whiteColor;
            color: $dark-blueColor;
    }
}
.back-light{
    background-color: $light-whiteColor;
    i{
        color: $light-blueColor;
    }
    &:hover{
        background-color: $light-blueColor;
            color: $light-whiteColor;
    }
}