$dark-blackColor: #1f1e1e;
$dark-extraBlackColor: #1d1d1d;
$dark-whiteColor: #e9eaee;
$dark-blueColor: #4b97e5;
$dark-blueWhiteColor: #77afe7;
$dark-contrastColor: #df2935;

$light-blackColor: #242424;
$light-extraBlackColor: #1d1d1d;
$light-whiteColor: #dfe0e3;
$light-blueColor: #3475b7;
$light-blueWhiteColor: #2b6a88;
$light-contrastColor: #ff3742;