$dark-blackColor: #2f2f2f;
$dark-whiteColor: #e9eaee;
$dark-blueColor: #12355b;
$dark-blueWhiteColor: #b0d7ff;
$dark-contrastColor: #df2935;

$light-blackColor: #000;
$light-whiteColor: #fff;
$light-blueColor: dodgerblue;
$light-blueWhiteColor: #0bf;
$light-contrastColor: #df2935;