@import '../../global/variables.scss';

.print{
    background-color: $dark-blackColor;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 4%;
    padding-right: 4%;

    .btn-print{
        max-width: 600px;
    }
    .special-content{
        background-color: #cecece;
        width: 21cm;
        height: 29.7cm;
        padding: .5cm;
        .logotype{
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 2mm;
            }
        }
        .contentMain{
            width: 100%;
            background-color: red;
            padding: .5cm;
        }

    }
}