@import '../../global/variables.scss';
.list{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 4%;
    padding-right: 4%;
    .list-input{
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 8%;
        input{
            min-width: 40%;
            padding: 1%;
            border: none;
            background-color: transparent;
            
            &::placeholder{
                opacity: 1;
            }
        }
        div{
            display: flex;
            align-items: center;
            padding: 1%;
            max-width: 60px;
            font-size: 1.6em;
            margin-bottom: 0;
        }
    }
    div{
        div{
            margin-bottom: 4%;
            h2{
                margin: 0;
                margin-bottom: 4%;
                font-size: 1.2em;
                text-align: center;
            }
        }

        .content{
            cursor: pointer;
            width: 100%;
            padding: 4%;
            transition: all .7s;
            box-shadow: 0px 10px 28px -4px rgba(0,0,0,0.35);
            .principal{
                font-size: 1.2em;
            }
            .secondary{
                opacity: .6;
            }
        }
    }

}




.list-dark{
    background-color: $dark-blackColor;
    color: $dark-whiteColor;
    .list-input{
        input{
        color: $dark-whiteColor;
            border-bottom: 1px solid transparentize($color: $dark-blueColor, $amount: .4);
            &::placeholder{
                text-transform: uppercase;
                color: transparentize($color: $dark-whiteColor, $amount: .4);
            }
        }
    }
    div{
        h2{
            color:$dark-blueColor;
        }
    }
    .content{
        background-color: $dark-extraBlackColor;
        border: .01px solid transparentize($color: $dark-blueColor, $amount: .4);
        &:hover{
            background-color: transparentize($color: $dark-blueColor, $amount: .4);
        }
        p{
            span{
                color:$dark-blueColor;
            }
        }
    }

}

.list-light{
    background-color: $light-whiteColor;
    color: $light-blackColor;
    .list-input{
        input{
            color: $light-blueColor;
            border-bottom: 1px solid $light-blueColor;
            &::placeholder{
                text-transform: uppercase;
                color: transparentize($color: $light-blueColor, $amount: 0.2);
            }
        }
    }
    div{
        h2{
            color:$light-blueColor;
        }
    }
    .content{
        background-color: $light-whiteColor;
        &:hover{
            background-color: transparentize($color: $light-blueColor, $amount: .4);
        }
        p{
            span{
                color:$light-blueColor;
            }
        }
    }

}


.popop-read{
    overflow: auto;
    padding: 4%;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    font-size: 1.2em;
    .special-content{
        p{
            padding-bottom:2%;
        }
    }
    .icons-popop{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        *{
            font-size: 1.4em;
            cursor: pointer;
            opacity: .8;
            &:hover{
                opacity: 1;
            }
        }

    }
}

.popop-read-light{
    background-color: $light-whiteColor;
    .special-content{
        p{
            span{
                color: $light-blueColor;
            }
            border-bottom: 1px solid $light-blueColor;
        }
    }
    .icons-popop{
        .delete{
            color: $light-contrastColor;
        }
        .alter{
            color: $light-blueColor;
        }
    }
}

.popop-read-dark{
    background-color: $dark-blackColor;
    color: $dark-whiteColor;
    .special-content{
        p{
            span{
                color: $dark-blueColor;
            }
            border-bottom: 1px solid $dark-blueColor;
        }
    }
    .icons-popop{
        .delete{
            color: $dark-contrastColor;
        }
        .alter{
            color: $dark-blueColor;
        }
    }
}

@media only screen and (min-width: 900px) {
    .list{
        div{
            div{
                width: 100%;
                text-align: center;
                h2{
                    font-size: 2em;
                }
            }
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .content{
                margin: 1%;
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .principal{
                    font-size: 1.6em;
                }
        }
    }}

    .popop-read{
        .special-content{
            display: flex;
            text-align: start;
            flex-direction: column;
        }
        .icons-popop{
            width: 50%;
            justify-content: space-between;
            *{
                font-size: 1.7em;
            }
        }
    }
}